<p id="notice"><%= notice %></p>
<div class="container">

<p>
  <strong>Job:</strong>
  <%= @bid.job %>
</p>

<p>
  <strong>Bartender:</strong>
  <%= @bid.bartender_id %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @bid.amount %>
</p>

<p>
  <strong>Approved:</strong>
  <%= @bid.approved %>
</p>

<%= link_to 'Edit', edit_bid_path(@bid) %> |
<%= link_to 'Back', bids_path %>
</div>