
<div class="home-body valign-wrapper" id="home-section">
	<div class="home-container">
		<div class="container">
		  <div class="col">
		    <div class="card horizontal">
		      <div class="card-stacked">
		        <div class="card-content">
							<h1>GrapeVine</h1>
							<p>Need a bartender for a private function, for a party at home or a hall?
							Maybe you have a busy week coming up at work and don’t want to hire someone casually?
							Or you’re a previous bartender just looking for a side gig for some extra cash</p>
		        </div>
		        <div class="card-action">
		          <a href="#about">Learn More</a>
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>

<a name="about"></a>
<div class="about-body valign-wrapper" id="about-section">
	<div class="about-body">
	  <div class="about-title center">
			<h4> How GrapeVine works. </h4>
		</div>
		<div class="divider"></div>
		<div class="about-content center">
	    <p>GrapeVine allows bartenders to connect with employers and vice versa via:</p>
			<div class="row">
				<div class="col s12 m4">
				  <div class="card">
					  <div class="card-image waves-effect waves-block waves-light">
					    <img class="activator" src="/assets/bartender.jpg" alt="bartender"/>
					  </div>
					  <div class="card-content">
					    <span class="card-title activator grey-text text-darken-4">Post a job<i class="material-icons right">more_vert</i></span>
					    <p> <%= link_to "Click Me", new_job_path %> </p>
					  </div>
					  <div class="card-reveal">
					    <span class="card-title grey-text text-darken-4">Post a job.<i class="material-icons right">close</i></span>
							<p>Hosting an event & looking for quality bartenders?</p>
							<p>Post a job for nearby bartenders.</p>
						</div>
					</div>
				</div>

				<div class="col s12 m4">
				  <div class="card">
					  <div class="card-image waves-effect waves-block waves-light">
					    <img class="activator" src="/assets/american_bar.jpg" alt="bartender"/>
					  </div>
					  <div class="card-content">
					    <span class="card-title activator grey-text text-darken-4">Bid on jobs<i class="material-icons right">more_vert</i></span>
					    <p> <%= link_to "Click Me", jobs_path %></p>
					  </div>
					  <div class="card-reveal">
					    <span class="card-title grey-text text-darken-4">Post a job.<i class="material-icons right">close</i></span>
							<p>As a bartender its you're job to state your price.</p>
							<p>If you see a job you like, make an offer for it.</p>
						</div>
				  </div>
				</div>

				<div class="col s12 m4">
				  <div class="card">
					  <div class="card-image waves-effect waves-block waves-light">
					    <img class="activator" src="/assets/spirits.jpg" alt="bartender"/>
					  </div>
					  <div class="card-content">
					    <span class="card-title activator grey-text text-darken-4">Expand your portfolio<i class="material-icons right">more_vert</i></span>
					    <p><%= link_to "Click Me", new_profile_path %></p>
					  </div>
					  <div class="card-reveal">
					    <span class="card-title grey-text text-darken-4">Post a job.<i class="material-icons right">close</i></span>
					  </div>
						</div>
					</div>
			  </div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12 m12">
		<div class="container vlaign-wrapper" id="job-section">
		  <div class="job-body">
			  <a name="jobs"></a>
			  <div class="home-title center">
				  <h4>Preview Some Jobs</h4>
				</div>
			</div>
			<div class="divider"></div>
				<div class="job-content center">
					<div class="col s12 m12 l12">
			  		<% @jobs.each do |job| %>
	          <div class="card" id="home-cards">
	            <div class="card-content">
					  	<ul>
								<li>
                  <%= job.content %>
								</li>
								<li>
                  <p>$<%= job.amount %>/hr</p>
								</li>
							</ul>
	            </div>
	            <div class="card-action">
	              <a href="#">apply</a>
	            </div>
	          </div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<div class="container vlaign-wrapper" id="job-section">
		  <div class="job-body">
			  <a name="jobs"></a>
			  <div class="home-title center">
				  <h4>Meet some of our bartenders</h4>
				</div>
			</div>
			<div class="divider"></div>
				<div class="job-content center">
					<div class="col s12 m12 l12">
			  		<% @bartenders.each do |bartender| %>
	          <div class="card">
	            <div class="card-content">
					  	<ul>
								<li>
                  <%= bartender.name %>
								</li>
								<li>
                  <%= bartender.bio %>
								</li>
							</ul>
	            </div>
	            <div class="card-action">
	              <a href="#">offer</a>
	            </div>
	          </div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
