
<div class="home-body valign-wrapper" id="home-section">
	<div class="home-container">
		<div class="container" id="home-text">
		  <div class="col" style="color: white" id="background-text">
							<h1>GrapeVine</h1>
							<p>Find and hire a bartender today for your own private events and functions.</p>
		  </div>
		        <div class="card-action">
		          <a href="#about">Learn More</a>
		        </div>
		</div>
	</div>
</div>

<a name="about"></a>
<div class="about-body valign-wrapper" id="about-section">
	<div class="container"
	  <div class="about-body">
	  <div class="about-title center">
			<h4> How GrapeVine works. </h4>
		</div>
		<div class="divider"></div>
		<div class="about-content center-align">
	    <p>GrapeVine allows bartenders to connect with employers and vice versa via:</p>
			<div class="row">
				<div class="col s12 m12 l4">
				  <div class="card">
					  <div class="card-image waves-effect waves-block waves-light">
					    <img class="activator" src="/assets/bartender.jpg" alt="bartender"/>
					  </div>
					  <div class="card-content">
					    <span class="card-title activator grey-text text-darken-4">Post a job<i class="material-icons right">more_vert</i></span>
					    <p> <%= link_to "Let's Go.", new_job_path %> </p>
					  </div>
					  <div class="card-reveal">
					    <span class="card-title grey-text text-darken-4">Post a job.<i class="material-icons right">close</i></span>
							<p>Hosting an event & looking for quality bartenders?</p>
							<p>Post a job for nearby bartenders.</p>
						</div>
					</div>
				</div>

				<div class="col s12 m12 l4">
				  <div class="card">
					  <div class="card-image waves-effect waves-block waves-light">
					    <img class="activator" src="/assets/american_bar.jpg" alt="bartender"/>
					  </div>
					  <div class="card-content">
					    <span class="card-title activator grey-text text-darken-4">Bid on jobs<i class="material-icons right">more_vert</i></span>
					    <p> <%= link_to "Let's Go.", jobs_path %></p>
					  </div>
					  <div class="card-reveal">
					    <span class="card-title grey-text text-darken-4">Bid on jobs.<i class="material-icons right">close</i></span>
							<p>As a bartender its you're job to state your price.</p>
							<p>If you see a job you like, make an offer for it.</p>
						</div>
				  </div>
				</div>

				<div class="col s12 m12 l4">
				  <div class="card">
					  <div class="card-image waves-effect waves-block waves-light">
					    <img class="activator" src="/assets/spirits.jpg" alt="bartender"/>
					  </div>
					  <div class="card-content">
					    <span class="card-title activator grey-text text-darken-4">Expand your portfolio<i class="material-icons right">more_vert</i></span>
					    <p><%= link_to "Let's Go.", new_profile_path %></p>
					  </div>
					  <div class="card-reveal">
					    <span class="card-title grey-text text-darken-4">Expand your portfolio.<i class="material-icons right">close</i></span>
							<p>As a new bartender, experience is vital for <br>
			        	 more work opportunity. Be more cost effective and get
				         that experience.</p>
					  </div>
						</div>
					</div>
			  </div>
			</div>
	  	</div>
		<div>
	</div>
</div>

<div class="row top-row">
	<div class="col s12 m12 l12">
		<div class="container vlaign-wrapper" id="job-section">
		  <div class="job-body">
			  <a name="jobs"></a>
			  <div class="home-title center">
				  <h4>Preview Some Jobs</h4>
				</div>
			</div>
			<div class="divider"></div>
				<div class="job-content center">
					<div class="col s12 m12 l12">
			  		<% @jobs.each do |job| %>
	          <div class="card" id="home-cards">
	            <div class="card-content">
					  	<ul>
								<li>
									<h6><%= job.title %></h6>
								<li>
                  <%= job.content %>
								</li>
								<br>
								<div class="divider"></div>
								<br>
								<li>
                  <p>$<%= job.amount %>/hr</p>
								</li>
							</ul>
	            </div>
	            <div class="card-action">
								<h6>Think you're qualified?</h6>
			       	  <%= link_to "Bid on this job", job_path(job), class:"btn" %>
	            </div>
	          </div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col s12">
		<div class="container vlaign-wrapper" id="job-section">
		  <div class="job-body">
			  <a name="jobs"></a>
			  <div class="home-title center">
				  <h4>Meet some of our bartenders</h4>
				</div>
			</div>
			<div class="divider"></div>
				<div class="job-content center">
					<div class="col s12 m12 l12">
			  		<% @bartenders.each do |bartender| %>
	          <div class="card" id="home-bar-cards">
	            <div class="card-content">
					  	<ul>
								<li>
                  <h4><%= bartender.name %></h4>
								</li>
								<br>
								<div class="divider"></div>
								<br>
								<li>
									<h6>Bio Preview:</h6>
                  <%= bartender.bio.first(150) %>
								</li>
							</ul>
	            </div>

	            <div class="card-action" id="home-card-action">
	              <%= link_to "Visit #{bartender.name}'s Profile'", profile_path(bartender), class:"btn-flat" %>
	            </div>
	          </div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
