<%= simple_form_for @review do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs">
  <%= f.input :star_rating %>
  <%= f.input :title %>
  <%= f.input :content %>
	<%= f.hidden_field :reviewed_id, value: @review.reviewed_id %>
	<%= f.hidden_field :reviewer_id, value: @review.reviewer_id %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>
