<div class="container">
  <%= simple_form_for(@profile) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <div class="field">
        <%= f.label :name, label:"Full Name", style:"font-size:20px;"%><br />
        <%= f.input_field :name%>
      </div>
      <div class="field">
        <%= f.label :bio, label:"Short bio about you", style:"font-size:20px;"%><br />
        <%= f.input_field :bio%>
      </div>
      <div class="field">
        <%= f.input :bartender, wrapper_html: { class: 'm6 s12'}, label: "Are you a bartender?", style:"font-size:20px"%><br />
      </div>
      <div class="field">
        <%= f.file_field :pictures, multiple: false %>
      </div>
      <%= f.hidden_field :user_id %>
  	  <%= f.hidden_field :id %>
  	</div>
    <br>
    <div class="form-actions">
      <a onclick="M.toast({html: 'Profile Created'})" > <%= f.button :submit, style:"float:right;"  %> </a>
      <%= link_to 'Back', @profile, class:"btn", style:"float:left;" %>
    </div>
  <% end %>
</div>
