<%= simple_form_for(@profile) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  
  <div class="form-inputs">
   <%= f.input :name %>
   <%= f.input :bio %>
   <%= f.input :bartender, wrapper_html: { class: 'm6 s12' } %>
   <%= f.file_field :pictures, multiple: true %>
   <%= f.hidden_field :user_id, value: params[:user_id] %>
	</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
