<div class="container">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="profile-section">
      <div class="col s12 m12 l12">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text center-align">
    				<div class="card-image">
    					<%@profile.pictures.each do |avatar| %>
    						<%= image_tag avatar %>
    					<% end %>
    				</div>
    				<span class="card-title">
    <!-- bio place holder for designing views -->
            	<%= @profile.name %>
    			 	</span>
    			 	<% if @profile.bio %>
    					<p><%= @profile.bio %></p>
    			 	<% else %>
            	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    					</p>
    				<% end %>
    				<br>
          </div>
    <!-- Specialties idea -->
    			<div class="card-content white-text">
    			<span class="card-title">My specialties</span>
    			<blockquote>
    				this is a skill of mine.
    			</blockquote>
    			<blockquote>
    				So is this.
    			</blockquote>
    		</div>
          <div class="card-action">
            <a href="#">Resume</a>
          </div>
        </div>
      </div>
    </div>

    <div class="reviews-section"
    	<div class="col s12 m12 l12">
    	  <% if @reviews.exists? %>
    	  	<h5><%= @profile.name %>'s reviews:</h5>
    			<% @reviews.each do |review| %>
          <div class="col s12 m12 l12">
            <div class="card-panel white center">
              <span class="black-text">
              <ul>
                <li>
                  <p> Posted by: </p>
                  <%= link_to review.reviewer.name, profile_path(review.reviewer), class:"btn-falt" %>
                </li>
                <li>
                  <h6><%= review.star_rating %>/5</h6>
                </li>
                <li>
                  <%= review.content %>
                </li>
              </ul>
            </span>
          </div>
        </div>
      	<% end %>
      	<% else %>
          <div class="center">
          <p>No reviews yet!</p>
          <div class="divider"></div>
            <div class="review-btn">
              <%= link_to 'Leave a review', new_review_path(:profile_id => @profile.id), class:"btn"%>
            </div>
          <div class="divider"></div>
          </div>
    	  <% end %>
      </div>
    </div>

    <div class="bartenders-section">
      <div class="bartenders-title center">
        <h5>Some other bartenders</h5>
      </div>
      <div class="col s12 m6 l6">
        <% if @bartenders.exists? %>
          <% @bartenders.each do |bartender| %>
            <div class="col s12 m12 l12">
              <div class="card-panel white center">
              <span class="black-text">
              <ul>
                <li>
                  <img src=<%= bartender.pictures %>>
                </li>
                <li>
                  <h4><%= bartender.name %></h4>
                </li>
                <div class="divider"></div>
                <li>
                  <%= link_to bartender.name, profile_path(bartender), class:"btn-flat" %>
                </li>
                <div class="divider"></div>
              </ul>
              </span>
            </div>
          </div>
        <% end %>
      </div>
      <% else %>
        <p> no other bartenders! </p>
      <% end %>
    </div>
  </div
</div>


<div class="profile-functionality">
  <% if @profile.id == current_user.id %>
    <%= link_to 'Edit', edit_profile_path(@profile) %> |
  <% end %>
  <%= link_to 'Back', profiles_path %>
</div>
