<div class="container">

    <div class="profile-section">
      <div class="col s12 m12 m12">
        <div class="card">
          <span class="card-title black-text profile-name">
            <%= @profile.name %>
          </span>
  				<div class="card-image">
            <% if @profile.pictures.present? %>
  					<% @profile.pictures.each do |avatar| %>
  						<%= image_tag avatar %>
                <% end %>
              <% else %>
             <% image_tag "/assets/profile.picture.png" %>
  					<% end %>
          </div>
          <div class="card-content black-text center-align">
            <br>
            <div class="divider"></div>
            <br>
            <span class="card-title">
              About me:
            </span>
            <br>
            <p><%= @profile.bio %></p>
            <br>
            <span class="card-title">
          </div>
  	  	</div>
        <% if current_profile.id == @profile.id %>
          <div class="edit-button">
            <%= link_to 'Edit', edit_profile_path(@profile), class:"btn" %>
          </div>
        <% end %>

        <div class="back-button">
          <%= link_to 'Back', :back, class:"btn" %>
        </div>
      </div>
    </div>

    <div class="reviews-section"
    	<div class="col s12 m12 l12">
        <br>
        <div class="divider"></div>
        <% if current_profile.id != @profile.id %>
          <div class="review-btn center">
            <%= link_to 'Leave a review', new_review_path(:profile_id => @profile.id), class:"btn"%>
          </div>
        <% end %>
        <div class="divider"></div>
    	  <% if @reviews.exists? %>
    	  	<h5><%= @profile.name %>'s reviews:</h5>
    			<% @reviews.each do |review| %>
          <div class="col s12 m12 l12">
            <div class="card-panel white center">
              <span class="black-text">
              <ul>
                <li>
                  <p> Posted by: </p>
                  <%= link_to review.reviewer.name, profile_path(review.reviewer), class:"btn-falt" %>
                </li>
                <li>
                  <h6><%= review.star_rating %>/5</h6>
                </li>
                <li>
                  <%= review.content %>
                </li>
              </ul>
            </span>
          </div>
        </div>
      	<% end %>
      	<% else %>
          <div class="center">
          <p>No reviews yet!</p>
          </div>
    	  <% end %>
      </div>
    </div>
  </div>
</div>
  <footer>
        <%= render 'partials/footer'%>
  </footer>
