<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @profile.bio %>
</p>

<% @reviews.each do |review| %>
<ul>
	<li><%= review.star_rating %></li>
	<li><%= review.title %></li>
	<li><%= review.content %></li>
</ul>
<% end %>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
