<div class="container">
	<h1>Jobs</h1>
	<div class="row">
		<div class="col s12 l12 m12" id="card-holder" style="padding: 10px">
	<% @jobs.each do |job| %>
			<div class="col s10 l10 m10" id="card-container" style="padding:10px">
	      <div class="card" id="card-group">
					<span class="card-title"><%= job.title %></span>
	        <div class="card-content" id="card-content" style="padding-bottom: 30px">
	            <%= job.amount %>
	            <%= job.content %>
	          </div>
	        <div class="card-action">
	          <%= link_to 'Show', job,  class:"btn"%>
	        </div>
				</div>
			</div>
	<% end %>
</div>
</div>
	<br>
	<%= link_to 'New Job', new_job_path %>
</div>
