<div class="container">

	<div class="centering">
	<h1>Jobs</h1>
	<div class="row">
		<div class="col s12 l8 m12" id="card-holder" style="padding: 10px">
	<% @jobs.each do |job| %>
			<div class="col s10 l6 m10" id="card-container" style="padding:10px">
	      <div class="card" id="card-group">
					<span class="card-title"><%= job.title %></span>
	        <div class="card-content" id="card-content" style="padding-bottom: 30px">
	          	$<%= job.amount %>/hr
				<br>
	            <%= job.content %>
	          </div>
	        <div class="card-action grey darken-2">
	          <%= link_to 'Show', job,  class:"btn blue-grey lighten-2"%>
	        </div>
				</div>
			</div>
	<% end %>
</div>
</div>
</div>
	<br>
	<div class="new-job">
	<%= link_to 'New Job', new_job_path %>
</div>
