<p id="notice"><%= notice %></p>
<div class="main">
<h1>Jobs</h1>

<div class="jobs-container">
<% @jobs.each do |job| %>
  <div class="row">
    <div class="col s6 ">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
            <span class="card-title"><%= job.title %></span>
            <%= job.amount %>
            <%= job.content %>
        </div>
        <div class="card-action">
          <%= link_to 'Show', job,  class:"waves-effect waves-light btn"%>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>

<br>

<%= link_to 'New Job', new_job_path %>

</div>