
	<div class="jobs-container valign-wrapper">
			<div class="Jobs-header">
					<div class="container" id="home-text">
						<div class="col" style="color: white" id="background-text">
										<h1>Grapevine Jobs</h1>
										<p>Get started today find all available jobs now on Grapevine </p>
						</div>
									<div class="card-action">
										<span class="btn"><a href="#jobs" style="color: white;">Get Started</a></span>
									</div>
					</div>
				</div>
	</div>
	<br />
	<div class="container">
	<h1>Available Jobs</h1>
	<div class="divider"></div><br />
	<div class="row">
		<div class="col s12 m12 l12">
			<a href="#jobs">
			<%= link_to "My jobs", jobs_path(filter: "my_jobs", anchor:"jobs"), class:"btn", :data => { :reload => true } %>
			<%= link_to "Jobs I've bid on", jobs_path(filter: "jobs_ive_bid_on", anchor:"jobs"), class:"btn", :data => { :reload => true }%>
			<%= link_to "All", jobs_path(anchor:"jobs"), class:"btn", class:"btn", :data => { :reload => true }%> 
			<%= link_to 'Post Job', new_job_path, class:"btn", id:"last-link"%>
		</a>
		</div>
	</div>
	<a name="jobs"></a>
	<div class="row" id="card-holder" style="padding: 10px">
	<% @jobs.each do |job| %>
			<div class="col s12 m12 l4" id="cards">
	      <div class="card" id="card-group">
					<div class="card-title" style="padding-top: 10px; padding-bottom:10px;"><b><%= job.title %></b></div>
					<div class="divider"></div>
				<br/>
	        <div class="card-content" id="card-content" style="padding-bottom: 30px">
						<%= job.content.first(120) %>	
						<br />
						<p>$<%= job.amount %></p>
						<br />
						<br />
	          <%= link_to 'View Job', job,  class:"btn"%>
	        </div>
				</div>
			</div>
	<% end %>
</div>
</div>
</div>
