<h3 style="text-align: center;">Job Listings</h3>

<% @jobs.each do |job| %>
	<div class="row">
	  <div class="col s12 m6">
	    <div class="card">
	      <div class="card-content">
				  <tr>
				    <td><%= job.title %></td>
				    <td><%= job.amount %></td>
				    <td><%= job.content %></td>
				    <td><%= job.address %></td>
				    <td><%= job.employer_id %></td>
					</tr>
	      </div>
	      <div class="card-action">
				  <%= link_to 'Show', job %>
				  <% if current_profile.id == job.employer_id %>
				    <%= link_to 'Edit', edit_job_path(job) %>
				  <% end %>
				  <%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>


