<div class="container">

	<h1>Jobs</h1>
	<div class="row">
		<%= link_to "My jobs", jobs_path(filter: "my_jobs"), class:"btn" %>
		<%= link_to "Jobs I've bid on", jobs_path(filter: "jobs_ive_bid_on"), class:"btn" %>
		<%= link_to "All", jobs_path, class:"btn" %>
		<%= link_to 'New Job', new_job_path, class:"btn" %>
	</div>
	
	<div class="row" id="card-holder" style="padding: 10px">
	<% @jobs.each do |job| %>
			<div class="col s12 m12 l6" id="cards">
	      <div class="card" id="card-group">
					<span class="card-title"><%= job.title %></span>
	        <div class="card-content" id="card-content" style="padding-bottom: 30px">
	            <%= job.amount %>
	            <%= job.content %>
	          </div>
	        <div class="card-action">
	          <%= link_to 'Show', job,  class:"btn"%>
	        </div>
				</div>
			</div>
	<% end %>
</div>
</div>
</div>
