<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @job.amount %>
</p>

<p>
  <strong>Content:</strong>
  <%= @job.content %>
</p>

<p>
  <strong>Urgency:</strong>
  <%= @job.urgency %>
</p>

<p>
  <strong>Address:</strong>
  <%= @job.address %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @job.employer_id %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
