<div class="container">
  <p>
    <strong>Title:</strong>
    <%= @job.title %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= @job.amount %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= @job.content %>
  </p>
	
  <p>
    <strong>Address:</strong>
    <%= @job.address %>
  </p>

  <p>
    <strong>Employer:</strong>
    <%= @job.employer_id %>
  </p>

	<div class="row center">
		<div class="col s4 m6 l6">
			<% if @bids.exists? %>
				<% @bids.each do |bid| %>
					<% if bid.approved == false && bid.job_id == @job.id %>
				    <div class="col s12 m5">
				      <div class="card-panel center grey">
							<span class="white-text">
							<ul>
							  <li>
									<h4><%= bid.amount %></h4>
								</li>
								<li>
									<h6><%= bid.content %></h6>
								</li>
							</ul>
					    </span>
						  <% if current_user && current_profile.id == @job.employer_id %>
			          <a class="waves-effect waves-light btn"><%= link_to "Approve Bid", approve_bid_path(bid), method: :post %></a>
			        <% end %>
					  </div>
					</div>
			  <% end %>
			<% end %>
			<% else %>
			  <p> No bids yet! </p>
		  <% end %>
	  </div>
		<% if current_user && @job.employer_id != current_user.id %>
			 <%= link_to 'Leave a bid', new_bid_path(:job_id => @job.id) %> | 
		<% elsif current_user && @job.employer_id == current_user.id %>
		   <%= link_to 'Edit', edit_job_path(@job) %> |
		<% end %>
		<%= link_to 'Back', jobs_path %>
  </div>
</div>